/* Colors: 

Gold: #B9975B
Green: #115740
Spirit Gold: #F0B323
Silver: #D0D3D4
*/


.site-footer{
	padding : 10px;
	color : white;
	height : 200px;
	display : flex;
	justify-content : center;
	border-top: 4px solid #B9975B;
	color:white;
	background-color:#115740;
}