/*
	For devices 800px and below:
	Collapse the navbar
*/


/* Colors: 

Gold: #B9975B
Green: #115740
Spirit Gold: #F0B323
Silver: #D0D3D4
*/

@media (max-width : 800px){
	#home_banner,
	#page_banner,
	#Navigation{
		display : none;
	}

	.navbar{
		height : 40px;
		background-color : #115740;
		border-bottom : 2px solid #115740;
		position: relative;
	}
	
	.nav.navbar-nav.navbar-right {background-color: #115740 !important }
	.navbar-default.menu-shrink li a { color: #fff !important }
	.navbar-default.menu-shrink li a:hover { color: #115740 !important }
	.navbar-default .navbar-toggle { background: #fff none repeat scroll 0 0 }
	
	.navbar-default.menu-shrink {
	    background-color: rgba(17, 76, 56, 1);
	    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
	    padding: 15px 0;
	    width: 100%;
	}
}
/*
	For devices greater than 800px
*/
@media (min-width : 801px){
	#flex_nav_button{
		display : none;
	}
	.navbar{
		display: flex;
		align-items:center;
		justify-content: center;
		align-content: center;
	}

	/* Sub Menu Styling */
	.sub-menu{
		z-index : 99;
		display : none !important;
		position : absolute !important;
		margin : 0px;
		padding: 0px;
		background-color : inherit;
		overflow : auto;
		max-width: 100%;
		list-style : none;
	}

	#Navigation .sub-menu a{
		color : inherit;
		display: block;
		width : inherit;
		
	}

	#Navigation .sub-menu li{
		width : inherit;
		
	}
	#Navigation .current_page_item{
		background-color:#044539;
	}
	#Navigation{
		padding : 0px;
		margin : 0px;
		width: 100%;
		display: flex;
		justify-content:center;
		flex-direction : row;
		background-color : #115740;
		background: -moz-linear-gradient(left, #115740 32%, #277763 50%, #115740 68%);
	    background: -webkit-gradient(linear, left top, right top, color-stop(32%,#115740), color-stop(50%,#277763), color-stop(68%,#115740));
	    background: -webkit-linear-gradient(left, #115740 32%,#277763 50%,#115740 68%);
	    background: -o-linear-gradient(left, #115740 32%,#277763 50%,#115740 68%);
	    background: -ms-linear-gradient(left, #115740 32%,#277763 50%,#115740 68%);
	    background: linear-gradient(to right, #115740 32%,#277763 50%,#115740 68%);
		position : relative;
		border-bottom : 4px solid #B9975B;
	}

	#Navigation li{
		display : block;
		margin : 0px;
		font-size : .8em;
		font-family : Helvetica;
		color : white;
		list-style : none;
	}

	#Navigation a{
		display : block;
		color : inherit;
		text-decoration : none;
		height: 100%;
		width: 100%;
		padding : 24px 20px;
	}

	#Navigation li:hover{
		background-color : #044539;
	}
	#Navigation li:hover .sub-menu{
		display: inline-block !important;
		
	}
}
